# Copyright 2024 NXP
# SPDX-License-Identifier: Apache-2.0

menu "Firmware drivers"

config ARM_SCMI
	bool "TODO"
	default n
	depends on ARM || ARM64
	help
	  TODO

source "drivers/firmware/scmi/Kconfig"

endmenu
